/*
 * Copyright (c) 2026 ITE Corporation. All Rights Reserved.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		adc0 = &adc0;
		eeprom-0 = &i2c_eeprom_0;
	};

	chosen {
		keyboard-device = &kbd;
	};

	test_kbd_scan: test-kbd-scan {
		compatible = "test-kbd-scan";
		row-size = <3>;
		col-size = <3>;
		poll-period-ms = <5>;
		debounce-down-ms = <40>;
		debounce-up-ms = <80>;
		poll-timeout-ms = <500>;
	};
};

&adc0 {
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&adc0_ch0_gpi0_default &adc0_ch3_gpi3_default &adc0_ch6_gpi6_default>;
	pinctrl-names = "default";

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <10>;
	};

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <10>;
	};

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <10>;
	};
};

&i2c1 {
	status = "okay";

	pinctrl-0 = < &i2c1_clk_gpc1_default &i2c1_data_gpc2_default >;

	ite_ctrl: ite_ctrl@21 {
		compatible = "ite,i2c-controller";
		reg = <0x21>;
		status = "okay";
	};
};

&i2c4 {
	status = "okay";

	pinctrl-0 = < &i2c4_clk_gpe0_default &i2c4_data_gpe7_default >;

	target-enable;
	ite_tgt: ite_tgt@21 {
		compatible = "ite,i2c-target";
		reg = <0x21>;
		status = "okay";
	};
};

&i2c0 {
	status = "okay";

	pinctrl-0 = < &i2c0_clk_gpb3_default &i2c0_data_gpb4_default >;

	i2c_eeprom_0: eeprom_0@50 {
			compatible = "atmel,at24";
			reg = <0x50>;
			size = <256>;
			pagesize = <8>;
			address-width = <16>;
			timeout = <5>;
	};
};

&uart2 {
	status = "disabled";
};

&ite_uart2_wrapper {
	status = "disabled";
};
