# Copyright (c) 2026 ITE Corporation.
# SPDX-License-Identifier: Apache-2.0

config MSPI_IT8XXX2
	bool "ITE IT8XXX2 (M)SPI Driver"
	default y
	depends on DT_HAS_ITE_IT8XXX2_MSPI_ENABLED
	select SOC_IT8XXX2_CPU_IDLE_GATING
	help
	  Enable support for the ITE IT8XXX2 (M)SPI driver.

if MSPI_IT8XXX2

endif # MSPI_IT8XXX2
