# Copyright (c) 2024 ITE Corporation.
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_IT8XXX2
	bool "it8xxx2 clock control"
	default y
	depends on DT_HAS_ITE_IT8XXX2_ECPM_ENABLED
	help
	  Enable support for the it8xxx2 clock control.
