# Copyright (c) 2026 ITE Corporation.
# SPDX-License-Identifier: Apache-2.0

if SOC_IT58000AW

config ITE_IT51XXX_INTC_VECTOR_LOADING_CTRL_SUPPORTED
	default y

config SOC_IT51XXX_USB_GPIO_CONTROL
	default y

endif # SOC_IT58000AW
