/ {

	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

&flash0 {
	partitions {
		ranges;
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@80000000 {
			compatible = "zephyr,mapped-partition";
			label = "mcuboot";
			reg = <0x80000000 0x20000>;
		};

		slot0_partition: partition@80020000 {
			compatible = "zephyr,mapped-partition";
			label = "image0";
			reg = <0x80020000 0x30000>;
		};

		slot1_partition: partition@80050000 {
			compatible = "zephyr,mapped-partition";
			label = "image1";
			reg = <0x80050000 0x30000>;
		};
	};
};
